#RemoveB{

    background-color: red;
    color: rgb(255, 255, 255);
    margin-left: 20%;
    border-radius: 30px;
    
    
    

}

#CompleteB{

    background-color:  green;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    border-radius: 30px;
    
    
    

}