

#head{

    background-color: rgb(255, 145, 0);
    size: center;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: auto;
    margin-top: 15%;
    padding: 50px;
    text-align: center;


}

#layoutL{

    margin-right: 5%;


}